.card {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    color: #333;
    min-width: 255px;
    background-color: #fff;
    position: relative;
    padding: 10px;
    margin: 11px 11px 0px 11px;
    border: 1px solid #ccc;
    line-height: 16px;
    color: #555;
  }

  span {
    padding: 10px;
    height: 50px;
  }
  
  .verticalLine {
    padding: 10px;
    border-left: thick solid #F7F7F7;
    height: 50px;
    margin: 10px;
  }
  
  .portrait {
    margin: 10px;
    border-radius: 50%;
  }
  
  .icon {
    width: 5%;
  }