.image-btn{
  border: solid;
  border-color: red;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 5px;
  margin: 45px;
}
.image-button-text1, .image-button-text2{
  text-align: center;
  font-family: "Comic Sans MS";
  font-size: 30px;
}