.landing{
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: "Comic Sans MS";
  align-items:center;
}
.landing-title{
  font-size: 50px;
  display:flex;
}
.wish-to{
  font-size: 40px;  
}
.galaxy-image{
  height: 55px;
  width: 155px;
}
.input-group{
  width: 45%;
  font-size: 20px;
  padding: 10px 0px 100px 0px;
  display:flex;
  flex-direction: column;
}

.image-buttons{
  display: flex;
  padding: 10px 300px 300px;
}

.text-input{
  margin:15px !important;
  width: 50% !important;
  border: solid;
  border-color: blue; 
}
.text-input::placeholder{
 color: red;
 font-size: 20px;   
 text-align: center;
}